 header {
    height: 15vh;
    line-height: 10vh;
    background-image: linear-gradient(to right bottom, rgba(0,0,0,0.9),rgba(0,0,0,0.9),rgba(0,0,0,0.5),rgba(0,0,0,0.6),rgba(0,0,0,0));
    color: white;
    position: relative;
    justify-content: space-evenly;
    z-index: 999;
}

header i {
    color: white;
    margin-left: 30px;
    cursor: pointer;
} 
@media screen and (width:768px) {
    header {
        height: 8vh;
    }
}
