@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}
html {
  scroll-behavior: smooth;
}
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --color: #e50813;
}

body {
  font-family: var(--font-roboto);
  background-color: #141414;
}
a {
  text-decoration: none;
}
ul{
  list-style-type: none;
  transition: 2s;
}
ul li {
  padding: 0 10px;
}
.flexSB {
  display: flex;
  margin: 10px auto;
  align-items: center;
  padding: 0 10px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 90%;
  margin: auto;
}
button {
  background-color: var(--color);
  outline: none;
  border: none;
  color: white;
  padding: 5px;
  padding: 10px;
  font-weight: 700;
  font-size: 17px;
}
header i {
  quotes: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 10px;
}
header button {
  border-radius: 10px;
  font-weight: 15px;
  font-weight: bold;
}
.toggle {
  display: none;
}

.heading a{
  color: var(--color);
}
@media only screen and (max-width:768px) {
  header nav .flexSB{
    display: none;
  }
  .account {
    display: none;
  }
  .toggle{
    display: block;
  }
  header ul li{
    margin-top: 10px;
    padding: 10px;
  }
  .navMenu-list{
    transition: 1s all;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color);
    width: 60%;
    height: 100vh;
    z-index: 2;
  }
  .toggle{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    background: none;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .navLink {
    opacity: 0;
    animation: fadeInLeft 1s forwards;
  }
  
  .navLink:nth-child(1) {
    animation-delay: 0.1s; 
  }
  
  .navLink:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .navLink:nth-child(3) {
    animation-delay: 0.3s; 
  }
  
  .navLink:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .navLink:nth-child(5) {
    animation-delay: 0.5s;
  }
  
  .navLink:nth-child(6) {
    animation-delay: 0.6s;
  }  
}

h1 {
  color: white;
}
