body {
    background-color: #141414;
    color: #fff;
  }
  .singleHeading {
    background-color: #1e272d;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .singleHeading h1 {
    text-transform: uppercase;
    font-size: 30px;
  }
  .singleHeading span {
    word-spacing: 5px;
    margin-left: 10px;
  }
  .singlePage .container {
    max-width: 80%;
    margin: auto;
  }
  video {
    width: 100%;
    margin: 50px 0;
  }
  .singlePage h3 {
    font-weight: 400;
  }
  .singlePage p {
    line-height: 25px;
    margin-top: 20px;
  }
<<<<<<< HEAD
  .soical {
=======
  .social {
>>>>>>> 0c5fe7a8fe5ef5142ecbfc360060fe60633b98f9
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 30px 0;
    border-top: 2px solid #575757;
    border-bottom: 1px solid #575757;
    padding: 8px 0;
  }
<<<<<<< HEAD
  .soical img {
=======
  .social img {
>>>>>>> 0c5fe7a8fe5ef5142ecbfc360060fe60633b98f9
    margin-left: 10px;
  }